/* PC */
@media (min-width: 1024px){

}

/* Mobile */
@media (max-width: 740px) {


    .s-col-full{
        width: 100%;
    }

    #header{
        overflow: hidden;
        position: fixed;
        top:0;
    }

    #header .mobile-menu-btn{
        display: inline-block;
        
    }

    #header .search-btn {
        display: none;
    }


    #nav{
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav li a {
        width: 100%;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    #nav .subnav {
        background-color: #333;
        position: initial;
    }

    #nav .subnav a {
        color: white;
        padding: 0 41px;
    }

    #content .member-item{
        margin-top: 35px;
        width: 100%;
    }
    #content .member-img{
        width: 60%;
    }





}

    
    
